

 .firstNameParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .formGroup {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .label {
    width: 150px; 
    text-align: right;
    margin-right: 10px;
    text-align: left;
  }
  
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .inputImage{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
 }
  
  
  .container {
    display: flex;
    position: relative;
    top: 10px;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px; 
    border: 2px solid #020e80;
    border-radius: 20px;
    padding: 10px;
    margin: 120px auto;
    height: 55vh; 
  }
 .buttonsContainer {
       display: flex;
       justify-content: space-between; 
       align-items: center; 
       margin-top: 20px; 
     }
    
     .done:hover {
       background: #0056b3;
     }
    
     .done {
       margin: 20px 30px;
       font-size: 18px;
       padding: 10px 20px;
       background-color: #007bff;
       color: #fff;
       border: none;
       border-radius: 4px;
       cursor: pointer;
     }


     .uploadButtonContainer {
        display: flex;
        align-items: center;
      }
      
      .uploadButton {
        background-color: #007bff;
        color: #fff;
        padding: 5px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .uploadInput {
        display: none; 
      }
