@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.span {
    font-family: Inter;
}
.about1 {
    position: absolute;
    top: 27.2px;
    left: 728px;
}
.welcomeToBookmyshoot {
    margin-block-start: 0;
    margin-block-end: 4px;
}
.atBookmyshootWere {
    margin: 0;
}
.welcomeToBookmyshootContainer {
    position: absolute;
    top: 80.8px;
    left: calc(50% - 571.2px);
    text-align: center;
    display: inline-block;
    width: 1142.4px;
    height: 313.6px;
}
.about {
    position: relative; 
    width: 100%;
    height: 284.8px;
    overflow: hidden;
    text-align: left;
    font-size: 28.8px;
    color: #000000;
    font-family: 'Josefin Sans';

}

